{% extends "buyer/base.html" %}
{% block title %}
天天生鲜-购物车
{% endblock %}
{% block style %}

{% endblock %}
{% block zi %}
<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;购物车</div>
{% endblock %}
{% block content %}

	<div class="total_count">全部商品<em>{{ cart.count }}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
    <form action="/Buyer/cart_place_order/" method="post">
    {% csrf_token %}
    {% for one in cart %}
    <ul class="cart_list_td clearfix">
		<li class="col01"><input type="checkbox" name="cart_{{ one.id }}" value="{{ one.id }}" checked class="goods_box"></li>
		<li class="col02"><img src="/static/seller/{{ one.goods.goods_picture}}"></li>
		<li class="col03">{{ one.goods.goods_name}}<br><em id="dan_{{ one.id }}">{{ one.goods.goods_price}}元</em></li>
		<li class="col04">500g</li>
		<li class="col05">{{ one.goods.goods_price}}元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" name = "1"  onclick="operation(this)" class="add fl" id="{{ one.id }}">+</a>
				<input type="text" class="num_show fl" id="num_{{ one.id }}" value={{ one.goods_number }}>
				<a href="javascript:;" onclick="operation(this)" name="0" class="minus fl" id="{{ one.id }}">-</a>
			</div>
		</li>
        {% load myfilter %}
		<li class="col07" id="total_{{ one.id }}">{{ one.goods_total |tow}}元</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
	</ul>
    {% endfor %}





	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked="" id="check_box"></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em id="total_money">{{ all_total.sum_total |tow}}</em><br>共计<b id="total_num">{{ all_total.sum_number }}</b>件商品</li>
{#		<li class="col04"><a href="place_order.html">去结算</a></li>#}
        <input type="submit" value="去结算" style="background-color: red;width: 179px;height: 78px;">
	</ul>
    </form>
{% endblock %}
{% block script %}
    <script>
        $("#check_box").click(
            function () {
                if (this.checked) {
                    $(".goods_box").prop("checked",true);
                    {#console.log(this.checked)#}
                } else {
                    $(".goods_box").prop("checked",false);
                    {#console.log(this.checked)#}
                }
                add()
            }
        );
    $(".goods_box").click(
        function () {
            var len1=$(".goods_box").length;
            var len2=$(".goods_box:checked").length;
            {#console.log(len1);#}
            {#console.log(len2);#}
            if (len1 == len2){
                $('#check_box').prop('checked',true);
            } else {
                $('#check_box').prop('checked',false);
            }
        add()
        }
    );
        function add() {
          var mydict={total_money:0,num:0};
          $(".goods_box").each(
              function () {
                  if (this.checked){
                      var number=parseInt($(this).parents(".cart_list_td").find(".num_show").val());
                      var money=parseFloat($(this).parents(".cart_list_td").find(".col07").text());
                      mydict.total_money+=money;
                      mydict.num+=number;
                  }
              }
          );
            $("#total_money").text(mydict.total_money.toFixed(2));
            $("#total_num").text(mydict.num);
        }

        function operation(obj) {
           var state=obj.name;
           var id=obj.id;
           var num=parseInt($("#num_"+id).val());
           var url="/Buyer/operation/?id="+id+"&state="+ state;
           $.ajax({
               url:url,
               type:"get",
               data:"",
               success:function (data) {
                   $("#num_"+id).val(data.data.num);
                   $("#total_"+id).text(data.data.total.toFixed(2)+"元");
                     add()
               },
               error:function (error) {
               }
           })
        }
    </script>
{% endblock %}
