{% extends "buyer/base.html" %}
{% block title %}
天天生鲜-购物车
{% endblock %}
{% block style %}

{% endblock %}
{% block zi %}
<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
{% endblock %}
{% block content %}

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user_center_info/">· 个人信息</a></li>
				<li><a href="/user_center_order/">· 全部订单</a></li>
				<li><a href="user_center_site.html" class="active">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>
						<dt>当前地址：</dt>
                        {% for foo in data %}
                            {% if foo.state == 1 %}
                            <dd style="width: 800px;height: 50px;">{{ foo.address }} （{{ foo.name }} 收） {{ foo.phone }}<span style="float: right;"><input type="radio" name="dizhi" checked onclick="setaddress(this)" id="{{ foo.id }}">选择此地址</span></dd>
                            {% else %}
                                <dd style="width: 800px;height: 50px;">{{ foo.address }} （{{ foo.name }} 收） {{ foo.phone }}<span style="float: right;"><input type="radio" name="dizhi" onclick="setaddress(this)" id="{{ foo.id }}">选择此地址</span></dd>
                            {% endif %}

                        {% endfor %}




					</dl>
				</div>
				<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form action="/user_center_site/" method="post">
                        {% csrf_token %}
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" name="name">
						</div>
						<div class="form_group form_group2">
							<label>详细地址：</label>
							<textarea class="site_area" name="address"></textarea>
						</div>
						<div class="form_group">
							<label>邮编：</label>
							<input type="text" name="postcode">
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="text" name="phone">
						</div>

						<input type="submit" name="" value="提交" class="info_submit">
					</form>
                    <p>{{ massage }}</p>
				</div>
		</div>
	</div>
{% endblock %}
{% block script %}
    <script>
    function setaddress(obj) {
        var id=obj.id;
        console.log(id);
        var url='/Buyer/set_state/?id='+id;
    $.ajax({
        url:url,
        type:"get",
        data:"",
        success:function (data) {
            console.log(data);
            alert(data.mag)
        },
        error:function (error) {
             console.log(error)
        }
    })
    }

    </script>
{% endblock %}
